@import 'variables';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-color);
}
